In [1]:
'''
In the following diagram let blue circles indicate positive examples and orange squares indicate 
negative examples. We want to use k-NN algorithm for classifying the points. If k=3, find the class 
of the point (6,6). Extend the same example for Distance-Weighted k-NN and Locally weighted Averaging
'''

'\nIn the following diagram let blue circles indicate positive examples and orange squares indicate \nnegative examples. We want to use k-NN algorithm for classifying the points. If k=3, find the class \nof the point (6,6). Extend the same example for Distance-Weighted k-NN and Locally weighted Averaging\n'

In [18]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.neighbors import KNeighborsClassifier

In [19]:
dataset = pd.read_csv("kNN.csv")
dataset

   X  Y     Class  Unnamed: 3
0  2  4  Negative         NaN
1  4  2  Negative         NaN
2  4  6  Negative         NaN
3  4  4  Positive         NaN
4  6  2  Positive         NaN
5  6  4  Negative         NaN

In [23]:
data = dataset[['X', 'Y']]
labels = dataset[['Class']]
data

   X  Y
0  2  4
1  4  2
2  4  6
3  4  4
4  6  2
5  6  4

In [24]:
# Encode Labels 
le = LabelEncoder()
# labels = le.fit_transform(labels.values.ravel())
labels

      Class
0  Negative
1  Negative
2  Negative
3  Positive
4  Positive
5  Negative

In [35]:
# model

model = KNeighborsClassifier(n_neighbors=3, weights='distance')
model.fit(data, labels.values.ravel())

predicted= model.predict([[4,2]]) # 0:Overcast, 2:Mild
print(predicted)

['Negative']